html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Istok Web", sans-serif;
  color: white;
  background: rgb(32, 0, 47);
  background: radial-gradient(
    circle,
    rgba(32, 0, 47, 1) 3%,
    rgba(30, 3, 42, 1) 31%,
    rgba(16, 0, 23, 1) 66%
  );
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

::selection {
  color: rgb(243, 191, 250);
  background: rgb(217, 48, 223);
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 17vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

/******Nav-bar*********/

.header {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  background: linear-gradient(to bottom, rgb(133, 43, 151), rgb(162, 32, 157));
  z-index: 2000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}

.nav-links {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  z-index: 100;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  position: relative;
  transition: 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  left: 0;
  width: 0;
  height: 0.7px;
  background: #e445ff;
  transition: width 0.3s linear;
}

.nav-link:hover {
  color: rgb(234, 185, 247);
}

.nav-link:hover:after {
  width: 100%;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #dca7ca;
  margin: 5px;
  transition: all 0.3s ease;
}

.socials {
  display: flex;
  z-index: 100;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 36px;
  height: 36px;
  margin: 0 20px;
  border: 1px solid white;
  border-radius: 50%;
  transition: color 0.15s linear, background 0.15s linear;
}

.social-icon:hover {
  color: #c675c4;
  background-color: white;
}

/********Intro*********/

.intro {
  height: 100vh;
}

.intro-inner {
  display: flex;
  padding-top: 86px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

/*Particles js*/

canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*Slider-stanga*/

.pages {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}

.line {
  width: 0.7px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.72);
}

.points {
  z-index: 50;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.15s linear;
}

.point:hover {
  background: #e4b6eb;
}

.point:first-child {
  margin-top: 20px;
}

.point:last-child {
  margin-bottom: 20px;
}

.point--active {
  background: linear-gradient(180deg, #d54feb 0%, #830697 100%);
  background: -webkit-linear-gradient(180deg, #d54feb 0%, #830697 100%);
}

/*Title and slogan*/

.first-line {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 94px;
  font-weight: normal;
  background: -webkit-linear-gradient(#e444ff, #4602d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 80px;
}

.intro-logo {
  display: inline;
}

.intro-slogan1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #e051e3;
  margin-top: 10px;
}

.intro-slogan1 span {
  color: #fc7dff;
}

.intro-slogan2 {
  width: 70%;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgba(249, 249, 249, 0.74);
}

.intro-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 80px;
  width: 160px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background: linear-gradient(153.63deg, #4101d5 17.74%, #cb32e6 80.8%);
  background: -webkit-linear-gradient(153.63deg, #4101d5 17.74%, #cb32e6 80.8%);
  border-radius: 42px;
  cursor: pointer;
  z-index: 100;
  transition: 0.1s linear;
  font-family: "Montserrat", sans-serif;
}

.intro-button:hover {
  box-shadow: 0 0 10px #bb45ff, 0 0 40px #bb45ff, 0 0 80px #bb45ff;
  -webkit-box-shadow: 0 0 10px #bb45ff, 0 0 40px #bb45ff, 0 0 80px #bb45ff;
}

.intro-image {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/********Offers*********/

.offers {
  height: 100vh;
  position: relative;
}

.offers-shape1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.offers-shape2 {
  position: absolute;
  top: 18%;
  right: 0;
  z-index: 100;
}

.offers-inner {
  padding: 20px 0 0;
}

h2 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  background: -webkit-linear-gradient(#df42fe, #4a04d7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #a525be, 0 0 0.5em #a525be,
    0 0 0.1em #a525be;
}

h2 span:nth-of-type(1) {
  animation: blink linear infinite 2s;
}

h2 span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

h2 span:nth-of-type(3) {
  animation: blink linear infinite 4s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.offers-content {
  display: flex;
}

.offers-main {
  width: 100%;
  margin-top: 10px;
}

.offer {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 12px auto;
  z-index: 20;
}

.offer:nth-child(2),
.offer:nth-child(4) {
  margin-left: 16%;
}

.offer:nth-child(1),
.offer:nth-child(3),
.offer:nth-child(5) {
  margin-left: 10%;
}

.offer-image {
  width: 100px;
  min-width: 100px;
  border-radius: 50%;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.offer-img {
  width: 100%;
  min-width: 100px;
  height: 100%;
  border-radius: 50%;
}

.offer-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 0.5s;
}

.offer-image:hover::before {
  left: 110px;
}

.offer-text {
  padding: 15px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  color: #e25ce4;
}

.offer-description {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #b6afcf;
}

@media screen and (max-width: 1024px) {
  .main {
    position: relative;
    overflow-x: hidden;
  }
  .navbar {
    flex-direction: row-reverse;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 98vh;
    width: 50vw;
    top: 76px;
    background-color: rgba(162, 32, 158, 0.911);
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-link {
    margin: 2em auto;
    opacity: 0;
    font-size: 25px;
  }
  .burger {
    display: block;
    margin-right: 30px;
    cursor: pointer;
    z-index: 1000;
  }
  .intro {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .intro-inner {
    padding-top: 0;
  }
  h1 {
    font-size: 100px;
  }
  .first-line {
    display: flex;
  }
  .intro-slogan1 {
    margin-top: 20px;
    font-size: 35px;
  }
  .intro-slogan2 {
    width: 100%;
    font-size: 35px;
  }
  .intro-button {
    margin: 50px 0 0;
    width: 200px;
    height: 50px;
  }
  .intro-image {
    display: none;
  }
  #particles-js {
    pointer-events: none;
  }
  .pages {
    display: none;
  }
  .offers {
    height: fit-content;
    margin-bottom: 20px;
  }
  .offers-shape1 {
    display: none;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 815px) {
  .intro-content {
    margin-left: 40px;
  }
  .offers-shape2 {
    display: none;
  }
  .offer {
    width: 80%;
  }
  .offer:nth-child(2),
  .offer:nth-child(4) {
    margin-left: 20%;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    margin-left: 0;
  }
  .nav-links {
    width: 100%;
    z-index: 300;
  }
  .nav-link {
    margin: 1.5rem auto;
  }
  #particles-js {
    display: none;
  }
  h1 {
    font-size: 73px;
    line-height: 57px;
  }
  .intro-logo {
    width: 80px;
    height: auto;
  }
  .intro-logo img {
    width: 100%;
    max-width: 100%;
  }
  .intro-slogan1 {
    font-size: 22px;
  }
  .intro-slogan2 {
    font-size: 26px;
  }
  h2 {
    font-size: 50px;
  }
  .offer:nth-child(2),
  .offer:nth-child(4) {
    margin: 15px auto;
  }
  .offer:nth-child(1),
  .offer:nth-child(3),
  .offer:nth-child(5) {
    margin: 15px auto;
  }
  .offer {
    width: 90%;
    flex-direction: column;
    text-align: center;
    margin: 15px auto;
  }
}

@media screen and (max-width: 375px) {
  .intro-content {
    margin-left: 20px;
  }
}
